* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor,audio {
    text-align: center;
    padding-top: 10px;
    width: 20%;
    margin: auto;
    display: block;
    font-display: 10%;
}

body {
    background: #33FF39;
}
